[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.5.3"
pymdown-extensions = "==10.3.1"
pygments = "*"
beautifulsoup4 = "*"
requests = "*"
python-markdown-document-offsets-injection-extension = "==0.1.0"
markdown = "==3.6"

[dev-packages]

[requires]
python_version = "3.10"
