[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.4.2"
pymdown-extensions = "*"
pygments = "*"
beautifulsoup4 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
