<!-- Set from config but allow override -->
{% set disqus = config.extra.disqus %} {% if page and page.meta and page.meta.disqus is string %} {% set disqus = page.meta.disqus
  %} {% endif %}
{% set copyright = config.extra.copyright %} {% if page and page.meta and page.meta.copyright is string %} {% set copyright = page.meta.copyright
  %} {% endif %}

<hr><blockquote class="page-copyright"><p>本页面的全部文字在 <strong>{{ copyright }}</strong> 协议之条款下提供，附加条款亦可能应用</p></blockquote>
<!-- Comments Integration -->
{% if not page.is_homepage and disqus %}
{% set pageID = page.title | default("404", true) %}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<div id="gitment_container">
    <link rel="stylesheet" href="https://24oi.cf/gitment.css">
    <script src="https://24oi.cf/gitment.js"></script>
    <script>
      const myTheme = {
        render(state, instance) {
          const container = document.createElement('div')
          container.lang = "zh-CN"
          container.className = 'gitment-container gitment-root-container'
          const divv = document.createElement('form')
          // container.appendChild(instance.renderSomething(state, instance))
          container.appendChild(instance.renderHeader(state, instance))
          divv.appendChild(instance.renderEditor(state, instance))
          container.appendChild(divv)
          container.appendChild(instance.renderComments(state, instance))
          container.appendChild(instance.renderFooter(state, instance))
          return container
        },
        renderSomething(state, instance) {
          const container = document.createElement('div')
          container.lang = "zh-CN"
          if (state.user.login) {
            container.innerText = `Hello, ${state.user.login}, 来说点什么吧？`
          }
          return container
        }
      }
      const gitment = new Gitment({
        id: '{{ page.title | default("404", true)  }}',
        theme: myTheme,
        owner: 'Ir1d',
        repo: 'gitment',
        oauth: {
          client_id: 'd6a911c8fba0194626d4',
          client_secret: '867ec7e13cc99b420bd147cbb62d5cfec271ba81',
        },
      })
      gitment.render('gitment_container')
    </script>
</div>
{% endif %}