<!-- Set from config but allow override -->
{% set disqus = config.extra.disqus %} {% if page and page.meta and page.meta.disqus is string %} {% set disqus = page.meta.disqus
%} {% endif %}

<!-- Comments Integration -->
{% if not page.is_homepage and disqus %}
{% set pageID = page.title | default("404", true) %}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<div id="gitment_container">
    <link rel="stylesheet" href="https://aimingoo.github.io/gitmint/style/default.css">
    <script src="https://aimingoo.github.io/gitmint/dist/gitmint.browser.js"></script>
    <script>
      var gitment = new Gitment({
        
        owner: 'Ir1d',
        repo: 'gitment',
        oauth: {
          client_id: 'd6a911c8fba0194626d4',
          client_secret: '867ec7e13cc99b420bd147cbb62d5cfec271ba81',
        },
      })
      gitment.render('gitment_container')
    </script>
</div>
{% endif %}