{% extends "base.html" %}
{% block htmltitle %}
<!--<meta charset="utf-8">-->
<!--<meta name="theme-color" content="<%= theme_color %>">-->

<!--ANDROID-->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="48x48" href="favicon.ico">
<link rel="icon" sizes="192x192" href="favicon_192x192.png">

<!--IOS-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- <meta name="apple-mobile-web-app-status-bar-style" content="<%= theme_color %>"> -->
<meta name="apple-mobile-web-app-title" content="OI Wiki">
<link rel="apple-touch-icon" href="favicon.ico">
<link rel="apple-touch-icon-precomposed" href="favicon.ico">
<link rel="apple-touch-startup-image" href="favicon.ico">

<!--WINDOWS-->
<meta name="msapplication-TileImage" content="favicon.ico">
<!-- <meta name="msapplication-TileColor" content="<%= theme_color %>"> -->
<meta name="msapplication-square310x310logo" content="favicon.ico">
<!-- <meta name="msapplication-navbutton-color" content="<%= theme_color %>"> -->

<!-- WEB -->
<!--<link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon">-->
<link rel="icon" href="favicon.ico" type="image/x-icon">

<script>
  'use strict';
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('service-worker.js', { scope: '/' })
      .then(function (reg) {
        console.log('Registration succeeded. Scope is ' + reg.scope);
      }).catch(function (error) {
        console.log('Registration failed with ' + error);
      });
  }
</script>
{% if page and page.meta and page.meta.title %}
<title>{{ page.meta.title }}</title>
{% elif page and page.title and not page.is_homepage %}
<title>{{ page.title }} - {{ config.site_name }}</title>
{% else %}
<title>{{ config.site_name }}</title>
{% endif %}
{% endblock %}
{% block libs %}
{% endblock %}