<%
from pygments.formatters import HtmlFormatter
formatter = HtmlFormatter(linenos=True)
%>
<!doctype html>
<html>
<head>
<title><%block name="title" /></title>
<style type="text/css">
${formatter.get_style_defs()}
</style>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
<header>
<nav>
<a href="/">首页</a>
</nav>
</header>
${self.body()}
</body>
</html>
