<%inherit file="base.html"/>

<%block name="title">${entry["title"]}</%block>

<main>
<h1>${entry["title"]}</h1>

% if entry.get("canonical", None) is not None:
<%     canonical = registry.find({"type": "wiki", "slug": entry["canonical"]}) %>
<h4>Source:</h4>
<a href="${urls.build('wiki.html', {'slug': canonical['slug']})}">${canonical["title"]}</a>
% endif

<%
canonicals = [
  canonical
  for canonical in registry.find_all({"canonical": entry["slug"]})]
%>
% if canonicals:
<h4>Canonicals</h4>
<ul>
%   for canonical in canonicals:
<a href="${urls.build('wiki.html', {'slug': canonical['slug']})}">${canonical["title"]}</a>
%   endfor
</ul>
% endif

<article>
${content | n}
</article>

</main>

<footer>
<%
pages = [
  page
  for page in registry.find_all({"type": "wiki"})
  if entry["slug"] in page.get("tags", [])]
%>
% if pages:
<hr/>
<h4>Pages tagged with "${entry["title"]}"</h4>
<ul>
%   for page in pages:
<li><a href="${urls.build('wiki.html', {'slug': page['slug']})}">${page["title"]}</a></li>
%   endfor
</ul>
% endif

<%
tags = [
  tag
  for tag in registry.find_all({"type": "wiki"})
  if tag.get("slug", None) in entry["tags"]]
tag_slugs = [tag["slug"] for tag in tags]
%>

% if entry["tags"]:
<hr />
<p>
%   for tag in tags:
<span><a href="${urls.build('wiki.html', {'slug': tag['slug']})}">${tag["title"]}</a></span>
%   endfor
%   for tag in entry["tags"]:
%     if tag not in tag_slugs:
<span>${tag}</span>
<% warn("%s: tag %r not found" % (filename, tag)) %>
%     endif
%   endfor
</p>
% endif

<%
authors = [
  author
  for author in registry.find_all({"type": "author"})
  if any(email in entry["authors"] for email in author.get("emails", []))]
author_emails = [email for author in authors for email in author["emails"]]
%>

% if entry["authors"]:
<hr />
<p>By
%   for author in authors:
<span><a href="${urls.build('author.html', {'slug': author['slug']})}">${author["name"]}</a></span>
%   endfor
%   for author in entry["authors"]:
%     if author not in author_emails:
<span>${author}</span>
<% warn("%s: author %r not found" % (filename, author)) %>
%     endif
%   endfor
% endif

</footer>
