name: Check example code

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  file-list:
    name: Make File List
    runs-on: ubuntu-latest
    outputs:
      TEST_CPP_FILES: ${{ steps.GetFiles.outputs.TEST_CPP_FILES }}
      TEST_PY_FILES: ${{ steps.GetFiles.outputs.TEST_PY_FILES }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Get changed code files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            docs/**/*.cpp
            docs/**/*.py
            docs/**/*.in
            docs/**/*.ans
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python dependencies
        run: uv sync
      - name: Get Files to Test
        id: GetFiles
        env:
          all_changed_files: ${{ steps.changed-files.outputs.all_changed_files }}
        run: uv run python scripts/get_files_to_test.py

  cpp-correctness:
    name: OI-wiki C++ Offline Test
    needs: file-list
    if: ${{ needs.file-list.outputs.TEST_CPP_FILES != 'None' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python dependencies
        run: uv sync
      - name: Install C++
        run: |
          sudo apt-get update
          sudo apt-get install -y g++
      - name: Correctness Check
        env: 
          FILES_TO_TEST: ${{ needs.file-list.outputs.TEST_CPP_FILES }}
        run: uv run python scripts/correctness_check.py --language cpp

  cpp-undefinedbehaviors-ubuntu:
    name: C++ UB Check - x86_64 Ubuntu
    needs: [file-list, cpp-correctness]
    runs-on: ubuntu-latest
    container: ghcr.io/trickeye/ubuntu_gcc1x:clang
    outputs:
      output: ${{ steps.set-output.outputs.output }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install g++-9
        run: |
          apt-get update
          apt-get install -y g++-9
      - name: Undefined Behaviors Check
        env: 
          FILES_TO_TEST: ${{ needs.file-list.outputs.TEST_CPP_FILES }}
          RUNS_ON: x86_64 Ubuntu
          PYTHONIOENCODING: UTF-8
        run: python3 scripts/ub-check.py

  cpp-undefinedbehaviors-macos:
    name: C++ UB Check - Arm64 MacOS
    needs: [file-list, cpp-correctness]
    runs-on: macos-latest
    outputs:
      output: ${{ steps.set-output.outputs.output }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Check Compiler Version
        run: |
          echo "::group::Check G++ Version"
          g++-14 --version
          echo "::endgroup::"
          echo "::group::Check Clang Version"
          clang --version
          echo "::endgroup::"
      - name: Undefined Behaviors Check
        env: 
          FILES_TO_TEST: ${{ needs.file-list.outputs.TEST_CPP_FILES }}
          RUNS_ON: arm64 MacOS
          PYTHONIOENCODING: UTF-8
        run: python3 scripts/ub-check.py

  cpp-undefinedbehaviors-rv:
    name: C++ UB Check - RISC-V Ubuntu
    needs: [file-list, cpp-correctness]
    runs-on: ubuntu-latest
    outputs:
      output: ${{ steps.set-output.outputs.output }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Launch Risc-V Docker
        run: |
          docker pull --platform riscv64 ghcr.io/trickeye/ubtest:latest
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
          docker run -d --name ubtest --platform riscv64 \
            --volume $PWD:$PWD \
            --volume $GITHUB_STEP_SUMMARY:$GITHUB_STEP_SUMMARY \
            --workdir $PWD \
            --env FILES_TO_TEST="${{ needs.file-list.outputs.TEST_CPP_FILES }}" \
            --env RUNS_ON="riscv64 Ubuntu" \
            --env PYTHONIOENCODING="UTF-8" \
            --env GITHUB_STEP_SUMMARY=$GITHUB_STEP_SUMMARY \
            ghcr.io/trickeye/ubtest:latest sleep infinity
          docker exec ubtest uname -a
      - name: Check Compiler Version
        run: |
          echo "::group::gcc --version"
          docker exec ubtest gcc --version
          echo "::endgroup::"
          echo "::group::g++ --version"
          docker exec ubtest g++ --version
          echo "::endgroup::"
          echo "::group::clang --version"
          docker exec ubtest clang++ --version
          echo "::endgroup::"
      - name: Undefined Behaviors Check
        # The environment variables are set in Launch Risc-V Docker step
        run: docker exec ubtest python3 scripts/ub-check.py

  cpp-undefinedbehaviors-windows:
    name: C++ UB Check - x86_64 Windows
    needs: [file-list, cpp-correctness]
    runs-on: windows-2025
    outputs:
      output: ${{ steps.set-output.outputs.output }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Check Compiler Version
        shell: cmd
        run: |
          echo ::group::Install Clang, MinGW
          choco install -y llvm mingw
          echo ::endgroup::
          echo ::group::Check Clang Version
          clang --version
          echo ::endgroup::
          echo ::group::Check G++ Version
          g++ --version
          echo ::endgroup::
          echo ::group::Check MSVC Version
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          cl.exe
          echo ::endgroup::
      - name: Undefined Behaviors Check
        env: 
          FILES_TO_TEST: ${{ needs.file-list.outputs.TEST_CPP_FILES }}
          RUNS_ON: x86_64 Windows
          PYTHONIOENCODING: UTF-8
        run: |
          chcp 65001
          python scripts/ub-check.py


  cpp-undefinedbehaviors-alpine:
    name: C++ UB Check - x86_64 Alpine
    needs: [file-list, cpp-correctness]
    runs-on: ubuntu-latest
    outputs:
      output: ${{ steps.set-output.outputs.output }}
    container: alpine:latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Check Compiler Version
        run: |
          echo "::group::Install Python, GCC, Clang"
          apk add build-base python3 llvm clang
          echo "::endgroup::"
          echo "::group::Check G++ Version"
          g++ --version
          echo "::endgroup::"
          echo "::group::Check Clang Version"
          clang --version
          echo "::endgroup::"
      - name: Undefined Behaviors Check
        env: 
          FILES_TO_TEST: ${{ needs.file-list.outputs.TEST_CPP_FILES }}
          RUNS_ON: x86_64 Alpine
          PYTHONIOENCODING: UTF-8
        run: python3 scripts/ub-check.py

  py-correctness:
    name: OI-wiki Python Offline Test
    needs: file-list
    if: ${{ needs.file-list.outputs.TEST_PY_FILES != 'None' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install Python dependencies
        run: uv sync
      - name: Correctness Check
        env: 
          FILES_TO_TEST: ${{ needs.file-list.outputs.TEST_PY_FILES }}
        run: uv run python scripts/correctness_check.py --language py
